body {
  font-family: Open Sans;
  color:#FFFFFF;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}

.elephant-page-wrapper {
  background: url(./img/fon1.png) center top no-repeat, url(./img/fon2.png) left bottom 165px no-repeat;
}


.header {
  height: 123.36px;
  width: 1141px;
  left: 190px;
  position: relative;
  margin-bottom: 131px;
}

.container {
  margin: 0 auto;
  width: 1141px;
}


.logo {
  display: block;
  position: absolute;
  left: 79px;
  top: 29px;
}
.menu {
  position: absolute;
  top: 42px;
  left: 264px;
}

.contacts {
  position: absolute;
  top: 26.64px;
  right: 0;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}


.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 2px;
}

.contacts__workschedule {
  font-size: 13px;
  text-decoration: underline;
  color: #534444;
}


.hello {
  width: 511px;
}


.hello__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  margin-bottom: 27.5px;
}

.hello__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 33.5px;
}

.button {
  background: #F5170E;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 40px;
  border-radius: 35px;
  margin-bottom: 246px;
}

.tours {
  margin-bottom: 127px;
}

.tours__title--fire {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  margin-top: 246px;
}

.offers__item {
  height: 449px;
  width: 362px;
  background: #FFFFFF;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  margin-right: 23px;
  margin-bottom: 127px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  height: 144px;
  width: 362px;
  margin-bottom: 33px;
}

.offers__content {
  width: 362px;
  height: 305px;
  padding: 30px 18px;
  color: #303030;
}

.offers__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 23px;
}

.offers__feature {
  display: inline-block;
  width: 130px;
  margin-right: 13;
  color: #666666
}

.offers__feature-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.offers__feature-text {
  display: inline-block;
  width: 90px;
  height: 22px;
  text-align: center;
}

.offers__text {
  color: #303030;
  margin-bottom: 24.5px;
  text-align:left
}


.news {
  margin-bottom: 53px;
  width: 1139px;
  height: 600px;
}

.title {
  width: 325px;
  height: 49px;
  margin-bottom: 51px;
  width: 700;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__contents-pic {
  display: block;
  width: 100%;
  height: 100%;
}

.news__contents-text {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 26px 31px;
  min-height: 130px;
}

.news__contents-data {
  font-size: 14px;
  margin-bottom: 12.5px;
}

.news__contents-sentence {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3.5px;
}

.pagination {
  text-align: center;
  margin-bottom: 124px;
  margin-top: 53px;
}

.pagination__info {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item .pagination__item--active {
  background: #F5170E;
}

.pagination__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.about {
  vertical-align: top;
  width: 1139px;
  height: 552px;
  margin-bottom: 102px;
  left: 389px;
}


.about:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 490px;
  height: 505px;
  left: 270px;
  background: url(./img/gates.png);
}

.about__content {
  position: absolute;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  width: 778px;
  height: 455px;
  left: 623px;
  border-radius: 5px;
  background: url(./img/mountains.png);
  margin-top: 100px;
  margin-bottom: 53px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__text {
  margin-bottom: 43px;
}

.about__text p {
  margin-bottom: 13px;
}

.about__text p:last-child {
  margin-bottom: 0px;
}

.footer {
  height: 146px;
  position: relative;
  width: 1141px;
  left: 190px;
}

.socials {
  position: absolute;
  top: 33px;
  right: 265px;
}

.socials__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__link:last-child {
  margin: 0px;
}



